name: main branch CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: update ubuntu
      run: sudo apt update -y && sudo apt upgrade -y
    - name: install dependencies MiniLibX
      run: sudo apt install gcc make xorg libxext-dev libbsd-dev
    - name: install valgrind
      run: sudo apt install valgrind
    - name: install xvfb
      run: sudo apt install xvfb
    - name: make
      run: make
    - name: run
      run: xvfb-run valgrind -q --leak-check=full --show-leak-kinds=all --track-origins=yes ./program.out